.container-fluid{
	padding:0;
}
.navbar{
	background-color:white !important;
	.logo{
		img{
			height:50px;
		}
	}
	.info{
		text-align:right;
		img{
			height:50px;
			padding:10px;
		}
	}
}
#home-sec{
	img{
		position:absolute;
		z-index:-1;
	}
}
#map {
position: absolute;
height: 100%;
width: 100%;
z-index:-1;
}
#info{
	form,.lista-carros{
	background-color:white;
	width:250px;
	padding:25px 19px;
	margin:10px 0;
	.origen{
		margin-bottom:15px;
	}
	select{
		border:1px solid yellow;
		width: 200px;

	}
	p{
		font-weight:bold;
		margin:0;
	}
	
	#cantidad{
		width:40px;
		height:20px;
		margin:5px 0;
		padding:0px !important;
	}
}
.boton{
	background:yellow;
	padding:5px 96px;
	color:white;
	font-weight:bold;
	text-align:center;
}
#compartir{
		padding:5px 54px;
	}

.lista-carros{
	height:300px;
	div{
		margin:8px 0;
	}
	small{
		font-size:8px;
	}
	p{
		line-height:3px;
	}
	.text{
		margin: 20px 0;
	}
}
}

